# Ignora a pasta do ambiente virtual
venv/

# Ignora arquivos de configuração do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignora arquivos de ambiente
.env
.env.local
.env.development
.env.production

# Ignora arquivos do React (se tiver frontend)
node_modules/
build/